[submodule "buildroot"]
	path = buildroot
	url = git@github.com:JohnPD99/buildroot.git
	branch = maia-sdr
[submodule "IQEngine"]
	path = IQEngine
	url = https://github.com/IQEngine/IQEngine
[submodule "maia-sdr"]
	path = maia-sdr
	url = https://github.com/JohnPD99/maia-sdr.git
[submodule "linux"]
	path = linux
	url = git@github.com:JohnPD99/linux.git
	branch = maia-sdr
[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = git@github.com:JohnPD99/u-boot-xlnx.git
	branch = maia-sdr
